@import '../../../colors.scss';
.add-widget-modal {
    .add-widget {
        display: inline-block;
        padding: 10px;
        border: 1px solid $light-green;
        border-radius: 8px;
        margin-right: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

        .add-widget-title, .add-widget-body {
            margin-bottom: 5px;
        }

        .add-widget-body {
            text-align: center;

            .widget {
                margin-bottom: 5px;
            }

            small {
                max-width: 120px;
                display: block;
                margin: 0 auto;
            }
        }

        input.form-control {
            width: 25px;
            height: 25px;
        }
    }
}