.page-content-toolbar-pane {
    padding: 8px;
    background-color: #d8d8d8;

    .page-content-toolbar-group {
        display: inline-block;
        vertical-align: top;

        .page-content-toolbar-button-group {
            min-height: 120px;
            display: inline-block;
            vertical-align: top;
        }

        .page-content-toolbar-group-label {
            text-align: center;
            font-size: 12px;
        }
    }

    .content-toolbar-divider {
        display: inline-block;
        width: 1px;
        margin: 0px 3px;
        height: 135px;
        background-color: rgb(235, 235, 235);
        vertical-align: top;
    }
}

div.mui-tall-button-dropdown-pop-over {
    div.MuiPaper-root {
        display: table;
    }
}