$blue: #191970;
$background: #e2e2e8;
$link-color: #007bff;

$midnight-blue: #191970;
$blue-green: #2F97C1;
$dark-turquoise: #1CCAD8;
$turquoise: #15E6CD;
$light-green: #8DE969;

$hover: #BCD8C1;
$light-gray: #0000005e;

.text-edit, .text-success {
    color: darkgreen;
}

.text-delete, .text-danger {
    color: #9c0000;
}

.text-default {
    color: black;
}
